// vars
$bgColor: #FFFFFF;
$footerColor: #9C69E2;
$textColor: #212353;


body {
    margin: 0;
}

#page {
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    grid-template-rows: 178px 1fr 197px;
    grid-template-columns: 20% 1fr 20%;
    grid-gap: 1px;
    height: 100vh;
    margin: 0;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: gray;
    padding: 0 300px 0 300px;

    & > .logo {
        margin-top: 42px;
    }

    & > nav {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        color: $textColor;

        ul {
            li {
                list-style-type: none;
            }
        }
    }
}
.main {
    grid-area: main;
    background-color: $bgColor;
}
.footer {
    grid-area: footer;
    background: $footerColor; 
}
